.bulletlist ul{
    color: black;
    font-family:monaco;
    text-align: center;
    background-color:#0a7e8c;color:black;padding:20;
}

}
h1 {
  text-align: center;
  font-family:times;
    
}
h2 {
  text-align: center;
  font-family:times;
  style: "border:3px solid blue";
}
p {
  style: color-gray;
  text-align: left;
  font-family:arial;
}

body {
    background-color: #c9ffe5";
}

