.bulletlist ul{
    color: blueviolet;
    font-family: sans-serif;
    text-align: center;

}

}
h1 {
  text-align: center;
  style: font-family:courier;
    
}
h2 {
  text-align: center;
  style: font-family:courier;
  style: "border:3px solid blue";
}
p {
  style: color-gray;
  text-align: left;
  style: font-family:courier;
}

body {
    background-color: #c9ffe5";
}
div {
    background-color:#0a7e8c;color:black;padding:20;
}

